<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,1988},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>A_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1988},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>A_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1988},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>A_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1988},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>A_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1988},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>A_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1988},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>A_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1988},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>A_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1919},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>A_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1919},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>background_menu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,950},{460,407}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{460,407}</string>
			</dict>
			<key>btn_booster.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1976},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>btn_booster_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,797},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>
			<key>btn_booster_clear_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,736},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>
			<key>btn_booster_clear_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,854},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>
			<key>btn_booster_clear_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,780},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>
			<key>btn_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,1976},{70,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,69}</string>
			</dict>
			<key>btn_plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1988},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,57}</string>
			</dict>
			<key>buy_block0.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,862},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>
			<key>buy_block1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,906},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>
			<key>buy_block2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,572},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>
			<key>buy_block3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,698},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>
			<key>b_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,1919},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1919},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>b_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1919},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>b_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1919},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>b_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1919},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>b_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,1976},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>b_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1919},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>b_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,1976},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>b_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,1919},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>Cloud1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,166},{44,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,41}</string>
			</dict>
			<key>Cloud2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,418},{85,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>Cloud3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,503},{114,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,118}</string>
			</dict>
			<key>Cloud4.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,726},{121,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,126}</string>
			</dict>
			<key>Cloud5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1523,824},{121,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,124}</string>
			</dict>
			<key>Cloud6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,677},{112,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,118}</string>
			</dict>
			<key>CloudS1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,923},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,82}</string>
			</dict>
			<key>CloudS2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,786},{87,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,89}</string>
			</dict>
			<key>CloudS3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,692},{87,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,92}</string>
			</dict>
			<key>CloudS4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,243},{84,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,87}</string>
			</dict>
			<key>CloudS5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,332},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1919},{62,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,64}</string>
			</dict>
			<key>c_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,1976},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>c_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,1919},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>c_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,1976},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>c_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,221},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>c_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,278},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>c_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,335},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>c_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,392},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>c_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,449},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>c_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,506},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>d_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,563},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>d_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,584},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>d_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,641},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>d_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,698},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>d_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,620},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>d_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,677},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>d_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,734},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>d_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,791},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>d_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,755},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,55}</string>
			</dict>
			<key>Hand.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1985},{58,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,61}</string>
			</dict>
			<key>highlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,166},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1713},{562,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{562,273}</string>
			</dict>
			<key>menu_btn_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1897,597},{91,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,93}</string>
			</dict>
			<key>menu_btn_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,214},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>menu_btn_more_games.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,342},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>menu_btn_play.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,352},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>menu_btn_replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,652},{125,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,126}</string>
			</dict>
			<key>menu_btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,470},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>menu_btn_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,396},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>menu_btn_sound_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,480},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>trophy.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1976},{77,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,68}</string>
			</dict>
			<key>UI_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1713},{640,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,113}</string>
			</dict>
			<key>UI_top1.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,206},{187,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,93}</string>
			</dict>
			<key>watchB.png</key>
			<dict>
				<key>frame</key>
				<string>{{1646,877},{379,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,84}</string>
			</dict>
			<key>background_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,854}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,854}</string>
			</dict>
			<key>background_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,857},{640,854}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,854}</string>
			</dict>
			<key>btn_yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,598},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>btn_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,524},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>score_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1976},{169,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,69}</string>
			</dict>
			<key>gift_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,1},{158,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,163}</string>
			</dict>
			<key>gift_game_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1647,597},{248,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,252}</string>
			</dict>
			<key>gift_popup_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{195,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,203}</string>
			</dict>
			<key>game_frame_backgr.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,198},{149,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,152}</string>
			</dict>
			<key>coin_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,572},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>bubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,166},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>coins_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,301},{187,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,93}</string>
			</dict>
			<key>cell1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,1},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>cell2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,56},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>blankTile.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,1988},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,1},{192,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,195}</string>
			</dict>
			<key>lvl_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,1},{296,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,296}</string>
			</dict>
			<key>lvl_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,396},{58,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,92}</string>
			</dict>
			<key>lvl_popup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1},{450,569}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,569}</string>
			</dict>
			<key>lvl_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,490},{58,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,92}</string>
			</dict>
			<key>lvl_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,608},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>gray_blankTile.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,1988},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>gray_cell1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,111},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>gray_cell2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,166},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>gray_lvl_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,299},{296,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,296}</string>
			</dict>
			<key>new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,848},{269,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,91}</string>
			</dict>
			<key>UI_top2.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1828},{640,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>sheet1.png</string>
			<key>realTextureFileName</key>
			<string>sheet1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>